{{#if navigation.length}}
  {{#each navigation}}
  <li class="navtree-item{{#if (eq @root.page.url ./url)}} is-current-page{{/if}}" data-depth="{{or ../level 0}}">
    {{#if ./content}}
      {{#if ./items.length}}
        <span class="caret"></span>
      {{/if}}
      {{#if ./url}}
        <a class="navtree-link" href="{{~#if (eq ./urlType 'internal')}}{{{relativize @root.page.url ./url}}}{{~else}}{{{./url}}}{{~/if}}">
        {{{./content}}}
        </a>
      {{else}}
          {{{./content}}}
      {{/if}}
    {{/if}}
    {{#if ./items.length}}
      <ul class="navtree-nested">
    {{/if}}
    {{> nav-tree navigation=./items level=(increment ../level)}}
    {{#if ./items.length}}
      </ul>
    {{/if}}
  </li>
  {{/each}}
{{/if}}